<h1>Edit Micropost</h1>

<%= render 'form' %>

<div class="actions">
  <%= link_to 'Show', @micropost, class: 'btn btn-info' %>
  <%= link_to 'Back to Microposts', microposts_path, class: 'btn btn-secondary' %>
</div>
