<h1>All Microposts</h1>

<% if @microposts.any? %>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %>
<% else %>
  <p>No microposts yet. <%= link_to 'Create the first one!', new_micropost_path %></p>
<% end %>

<br />

<%= link_to 'Create New Micropost', new_micropost_path, class: 'btn btn-primary' %>
